html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    display: grid;
    border: 1px black solid;
    min-height: 500px;
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid black;
}

body {
    font-family: 'VT323', monospace;
    text-align: center;
}

h1 {
    font-size: 5em;
    margin: 0;
}

label {
    margin-right: 10px;
}

#label1 {
    margin-right: -1px;
}

@media screen and (max-width: 530px) {
    #container {
        min-height: 300px;
        max-width: 300px;
    }
}

@media screen and (max-width: 315px) {
    #container {
        min-height: 250px;
        max-width: 250px;
    }
}