#container {
    display: grid;
    border: 1px black solid;
    min-height: 500px;
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid black;
}

.grid-block {
    border: 1px solid black;
  }