#container {
    display: grid;
    border: 1px black solid;
    min-height: 500px;
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid black;
}

h1, label, input {
    font-family: 'VT323', monospace;
}